keyring
pyjwt
pyyaml
requests
pyopenssl
secrets
cryptography>=41.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
